<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <div style="border: 1px solid; padding: 10px; width: 150px">
        @using (Html.BeginForm("Statistics", "Home"))
        {
            <p style="margin: 0px; padding: 0px;">Статус:</p>
            <select name="statusID">
                @foreach (var s in ViewBag.Statuses)
                {
                    <option value=@s.ID>@s.Name</option>
                }
            </select>
            <p style="margin: 0px; padding: 0px;">Начальная дата:</p>
            <input type="date" name="beginDate">
            <p style="margin: 0px; padding: 0px;">Конечная дата:</p>
            <input type="date" name="endDate">
            <button class="btn btn-primary" type="submit" formmethod="post">
                Получить статистику
            </button>
        }
    </div>
    @if (ViewBag.ErrorMessage != "")
    {
        <font color="red">@ViewBag.ErrorMessage</font>
    }
    <h3>Список сотрудников</h3>
    <table border="1">
        <tr>
            <td>
                @using (Html.BeginForm("Sort", "Home"))
                {
                    <input type="hidden" name="type" value="asc">
                    <input type="hidden" name="field" value="fullName">
                    <button class="btn btn-primary" type="submit" formmethod="post">
                        Упорядочить по возрастанию
                    </button>
                }
                @using (Html.BeginForm("Sort", "Home"))
                {
                    <input type="hidden" name="type" value="desc">
                    <input type="hidden" name="field" value="fullName">
                    <button class="btn btn-primary" type="submit" formmethod="post">
                        Упорядочить по убыванию
                    </button>
                }
            </td>
        <tr>
            <td><p>ФИО</p></td>
            <td><p>Статус</p></td>
            <td><p>Отдел</p></td>
            <td><p>Должность</p></td>
            <td><p>Дата приёма</p></td>
            <td><p>Дата увольнения</p></td>
        </tr>
        @foreach (var e in ViewBag.Employees)
        {
            <tr>
                @{ string fullName = e.SecondName + " " + e.FirstName[0] + "." + e.LastName[0] + "."; }
                <td><p>@fullName</p></td>
                <td><p>@e.Status</p></td>
                <td><p>@e.Department</p></td>
                <td><p>@e.Post</p></td>
                <td><p>@e.EmployDate</p></td>
                <td><p>@e.UneployDate</p></td>
            </tr>
        }
    </table>
</body>
</html>